@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
  padding-top: 30px;
  background: url("/img/bg.png"); }

.navbar {
  min-height: 100px;
  border: 0px solid #fd8a17;
  border-radius: 0px;
  font-family: 'Oswald', sans-serif;
  background: #f7f7f7; }

.navbar > ul {
  color: #fd8a17; }

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 50px;
  padding-left: 50px;
  line-height: 75px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a17;
  transition: all .2s ease; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #f7f7f7;
  border-bottom: 3px #009900 solid;
  color: #009900 !important; }

.nav.navbar-nav.navbar-right li a {
  color: #111111; }

.navbar-inverse .navbar-right > li > a:hover {
  background-color: #fd8a17; }
.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}
.navbar-toggle, .icon-bar {
  border:1px solid orange;
}

.row {
  padding-left: 30px; }

.vertical-align {
  position: relative;
  display: inherit;
  background-color: #0489B1;
  width: auto;
  height: 70px;
  padding-left: 0px;
  color: #fd8a17; }

.vcentre {
  line-height: 70px;
  display: table-row;
  font-family: 'Poiret One', Alegreya Sans;
  vertical-align: middle;
  font-size: 30px; }

.row .col-md-6 {
  margin-top: 40px; }

.row .col-md-6 > h3, .row .col-md-6 > h2 {
  color: #fd8a17; }

.footer-distributed {
  background-color: #0489B1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

/* Footer left */
.footer-distributed .footer-left {
   }/*width: 40%;*/

/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0; }

.footer-distributed h3 span {
  color: #5383d3; }

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Footer Center */
.footer-distributed .footer-center {
   }

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px; }

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2; }

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none; }

/* Footer Right */
.footer-distributed .footer-right {
   }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px; }

.footer-distributed .footer-icons {
  margin-top: 25px; }

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px; }
  #footer {
    padding-top: 10px;
    padding-bottom: 10px; }
  .vertical-align {
    display: inherit;
    background-color: #0489B1; }
  .vcentre {
    line-height: 40px;
    display: inline-block;
    font-family: 'Poiret One', Alegreya Sans;
    vertical-align: middle;
    font-size: 18px; }
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center i {
    margin-left: 0; } }

.carousel {
  position: relative;
  margin-top: 40px; }
  .carousel img {
    width: 100%;
    height: 400px !important; }

.carousel-inner {
  width: 100%;
  max-height: 400px !important; }

.about_text {
  font-size: 20px;
  margin-top: 40px;
  display: table-row;
  font-family: 'Poiret One', Alegreya Sans;
  margin-left: auto;
  word-spacing: 12px; }

.our_team {
  font-size: 30px;
  margin-top: 40px;
  display: table-row;
  color: #fd8a17;
  font-family: 'Poiret One', Alegreya Sans;
  margin-left: auto;
  word-spacing: 9px; }

.img-responsive {
  margin-top: 40px;
  width: 100%; }

.why_us_large {
  font-size: 20px;
  margin-top: 40px;
  display: table-row;
  font-family: 'Poiret One', Alegreya Sans;
  margin-left: auto;
  word-spacing: 12px; }

.why_us_small {
  font-size: 18px;
  margin-top: 10px;
  font-family: 'Poiret One', Alegreya Sans;
  margin-left: auto;
  word-spacing: 7px; }

P.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 70%; }

.contact_text {
  color: #009900; }

.coupon {
  border: 3px dashed #bcbcbc;
  border-radius: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

.coupon #head {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 56px; }

.coupon #footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

#title .visible-xs {
  font-size: 12px; }

.coupon #title img {
  font-size: 30px;
  height: 30px;
  margin-top: 5px; }

@media screen and (max-width: 500px) {
  .coupon #title img {
    height: 15px; } }

.coupon #title span {
  float: left;
  margin-top: 5px;
  font-weight: 700;
  text-transform: uppercase; }

.coupon-img {
  width: 100%;
  margin-bottom: 15px;
  padding: 0; }

.items {
  margin: 15px 0; }

.usd, .cents {
  font-size: 20px; }

.number {
  font-size: 40px;
  font-weight: 700; }

sup {
  top: -15px; }

#business-info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center; }

#business-info ul li {
  display: inline;
  text-align: center; }

#business-info ul li span {
  text-decoration: none;
  padding: .2em 1em; }

#business-info ul li span i {
  padding-right: 5px; }

.disclosure {
  padding-top: 15px;
  font-size: 11px;
  color: #bcbcbc;
  text-align: center; }

.coupon-code {
  color: #333333;
  font-size: 11px; }

.exp {
  color: #f34235; }

.print {
  font-size: 14px;
  float: right; }

/*# sourceMappingURL=app.css.map */
